{
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["*.gohtml"],
      "options": {
        "parser": "go-template"
      }
    }
  ],
  "tabWidth": 2,
  "useTabs": false,
  "goTemplateBracketSpacing": true
}
